@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

/* Global */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body,
button,
input,
select {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif
}

a {
  color: white;
  text-decoration: none;
}

p {
  line-height: 1.5em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.logotipo {
  float: left;
}

.nav-menu {
  float: left;
}

header nav {
  background-color: orangered;
  display: inline-block;
  width: 100%;
  margin-bottom: -5px;
}

header nav ul {
  float: right;
  margin: 0;
}

header nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

header nav ul li a {
  display: inline;
  width: 150px;
  line-height: 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

header nav ul li a:link,
header nav ul li a:visited {
  font-weight: normal;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

header nav ul li a:hover,
header nav ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 25px;
}

footer {
  display: grid;
  background-color: black;
  color: white;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}

footer .copyright {
  text-align: center;
}

.contato {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, auto);
  justify-items: flex-end;
  width: 100%;
  padding: 0;
  position: relative;
  margin-right: 20px;
}

.contatoWhatsapp, .contatoEmail {
  display: table-cell;
  float: right;
}

.formContato>iframe {
  width: 100%;
  height: 600px !important;
  margin-top: 3%;
}

.secaoDestaque {
  text-align: left;
  background-image: url("./imagens/notícia1.png");
  background-size: cover;
  background-color: #00161c;
  padding: 30em 2em 3em 2em;
  color: #fff;
}

.descricaoDestaque {
  background-size: cover;
  font-size: 2em;
  line-height: 1;
  background-color: white;
  text-align: justify;
  padding: 1em;
}

.destaquePerfil {
  font-size: 50px;
  width: 100%;
  background-image: url(../imagens/17266.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  color: white;
  text-shadow: rgb(0, 0, 0) 8px 8px 2px;
}

.secaoVideo {
  display: grid;
  background-color: orangered;
  grid-template-columns: 1fr 600px;
  align-items: center;
}

.secaoVideoTexto {
  padding: 20px;
}

.secaoVideoTexto p {
  font-size: 30px;
  color: #242529;
}

.video
{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-title {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

.box-title h1 {
  width: 100%;
  padding: 40px 0 10px 0;
  margin: 0;
  font-size: 80px;
  position: absolute;
  top: 100px;
  font-weight: black;
  text-transform: uppercase;
  color: white;
  text-shadow: orangered 2px 3px 7px;
}

.mainSobre {
  background-image: linear-gradient(to bottom right, #242529, #3d3f45);
  width: 100%;
  margin: 0;
  padding: 0;
}

.box-title img {
  position: relative;
  width: 100%;
  height: 400px;
}



.row {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

.row-2 {
  width: 100%;
  padding: 20px 0;
  display: flex;
  margin: auto;
  justify-content: center;
}

/* Quem somos */

.box-full {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
}

.btn,
a[data-modal] {
  background-color: orange;
  color: white;
  cursor: pointer;
  display: block;
  text-align: inherit;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  width: 120px;

}

.btn:hover,
.btn:focus,
a[data-modal]:hover,
a[data-modal]:focus {
  background: cadetblue;
}

.btn:active,
a[data-modal]:active {
  background: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.modal {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  visibility: hidden;
  width: 100vw;
  z-index: 1;
}

.modal.open {
  opacity: 1;
  transition-delay: 0s;
  visibility: visible;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  height: 100%;
  position: absolute;
  width: 100%;
}

.modal-container {
  background: white;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 30px;
  position: relative;
  width: 50vw;
  height: 50vh;
}

.modal-close {
  appearance: none;
  background-color: red;
  border-radius: 5px;
  border: 0px solid transparent;
  color: var(--color1);
  cursor: pointer;
  font-size: 20px;
  height: 1.8em;
  line-height: 13px;
  outline: none;
  padding: 10px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 90px;
}

.modal-return {
  appearance: none;
  background-color: royalblue;
  border-radius: 5px;
  border: 0px solid transparent;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 1.8em;
  line-height: 13px;
  margin-top: 1em;
  outline: none;
  padding: 10px;
  left: 15px;
  bottom: 0;
  width: 90px;
}

.modal-close:hover,
.modal-return:hover {
  background: rosybrown;
}

.box-profile {
  /* display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 0 1%;
  padding: 30px 20px;
  box-sizing: border-box;
  position: relative; */
  margin: 30px;
  padding: 20px;
  text-align: center;

  /* Este é um teste */
  background-color: rgb(255, 212, 193);
  border-radius: 20px;
}

.box-profile .modal p {
  font-size: 18px;
  margin-top: 2.5rem;
}

.box-profile .modal p.first {
  margin-top: 4rem
}

.box-profile .modal p:last-child {
  margin-bottom: 2.5rem;
}

.box-profile h3 {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.box-profile p {
  color: black;
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
}

.box-profile a {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-profile a .linkedin {
  height: 34px;
}

.box-profile img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.photo-profile {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.secaoDestaques3 {
  background-image: linear-gradient(#242529, #3D3F45);
  width: 100%;
  padding: 40px 0;
  color: white;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  display: inline-flex;
  justify-content: center;
}

.secaoDestaques3 li {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 0 5%;
}

.secaoDestaques3 h3
{
  display: block;
  padding: 10px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.imgDestaque {
  width: 100%;
  border: #fff solid 5px;
}

.notice-g9 h3 {
  color: #ffff;
  font-size: 25px;
  font-weight: normal;
  text-align: left;
}

.container1 {
  justify-content: left;
  flex-direction: column;
  height: 100%;
  display: flex;
  flex-basis: 100%;
}

#part1,
#part3,
#part5 {
  background-color: #242529;
}

.notice-g9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background-color: #3D3F45;
}

.notice-g9 img {
  width: 20%;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 1rem;
  margin-right: 3rem;
}

#img-box {
  height: 10rem;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 1rem;
}

.notice-g9 iframe {
  margin-left: 1rem;
}

.btnSaibaMais {
  background-color: orangered;
  color: white;
  width: 100%;
  max-width: 150px;
  line-height: 2.5;
  cursor: pointer;
  display: block;
  text-decoration: none;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  transition: .2s ease-in;
  font-size: 16px;
  font-weight: bold;
}

.box-image {
  margin: 0;
  padding: 0;
  position: relative;
}

@media (min-width: 360px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .nav-menu {
    min-width: 100%;
    text-align: center;
    margin-top: -20%;
    display: grid;
  }

  .nav-menu li {
    margin: -15px 5px;
  }

  .nav-acessibilidade {
    min-width: 100%;
    text-align: center;
  }
  
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 500px) {
  .secaoDestaque {
    background-image: url(../imagens/notícia1.png);
    max-height: 400px;
  }
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .nav-menu {
    min-width: 85%;
    margin-top: 2%;
    display: block;
  }

  .nav-acessibilidade {
    min-width: 85%;
    text-align: center;
  }
  
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1024px) {
  /* big landscape tablets, laptops, and desktops */
  .nav-menu {
    min-width: auto;
  }

  .nav-acessibilidade {
    float: inherit;
    margin-left: 35%;
  }

}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (max-width: 1024px) {

  .box-full {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
  }

}

@media (max-width: 900px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    margin: 0px;
    padding: 0px;
    width: unset;
  }

  .contato
  {
    margin-right: 0px;
    margin-top: 10px;
    justify-items: center;
  }

  .destaquePerfil {
    font-size: 30px;
    padding: 0.5em;
  }

  .secaoDestaques3
  {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, 1fr);
  }

  .secaoDestaques3 li
  {
    display: block;
    margin: 20px;
  }

  .secaoVideo {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }
}

.contrast,
.contrast nav,
.contrast div,
.contrast li,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
  background-color: black !important;
  color: white !important;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
  color: white !important;
}

.contrast a {
  color: yellow !important;
}

.contrast button,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
  background: black !important;
  color: yellow !important;
  border: none !important;
}

.contrast img.on-contrast-force-gray {
  filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
  filter: brightness(0) invert(1);
}


.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
  background: black !important;
  border: 1px solid white !important;
  color: white !important;
}